<web-app>
	<display-name>devoir1</display-name>

	<servlet>
		<servlet-name>AjaxServlet</servlet-name>
		<servlet-class>ca.etsmtl.gti525.devoir1.AjaxServlet</servlet-class>
		<init-param>
			<param-name>dossierVignettes</param-name>
			<param-value>vignettes</param-value>
		</init-param>
		<init-param>
			<param-name>dossierOriginaux</param-name>
			<param-value>dossierUltraTopSecret</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>WatermarkServlet</servlet-name>
		<servlet-class>ca.etsmtl.gti525.devoir1.WatermarkServlet</servlet-class>
		<init-param>
			<param-name>dossierVignettes</param-name>
			<param-value>vignettes</param-value>
		</init-param>
		<init-param>
			<param-name>dossierOriginaux</param-name>
			<param-value>dossierUltraTopSecret</param-value>
		</init-param>
		<init-param>
			<param-name>message</param-name>
			<param-value>Achetez Moi Svp!!!</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxServlet</servlet-name>
		<url-pattern>/AjaxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WatermarkServlet</servlet-name>
		<url-pattern>/watermark/*</url-pattern>
	</servlet-mapping>
</web-app>