<web-app>
	<display-name>devoir1</display-name>

	<servlet>
		<servlet-name>AjaxServlet</servlet-name>
		<servlet-class>ca.etsmtl.gti515.devoir1.AjaxServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WatermarkServlet</servlet-name>
		<servlet-class>ca.etsmtl.gti515.devoir1.WatermarkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxServlet</servlet-name>
		<url-pattern>/ajaxservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WatermarkServlet</servlet-name>
		<url-pattern>/watermarkservlet</url-pattern>
	</servlet-mapping>
</web-app>